<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Employment Transition</h1>

    <p>Employment Transition provides a careful, one on one case management service for work-injured job seekers who face a range of barriers.  We understand that people who have been injured and lost their job as well as their health are dealing with considerable change and challenges.   Employment Transition services assist workers to address matters such as medical and functional restrictions, psychological impacts of injury, limited skills, lack of employment experience outside their pre-injury job, language or literacy issues, diminished confidence and the impacts of work injury on their personal and family lives.  PPC’s Consultants work closely with workers, their Case Managers, medical and health practitioners and other stakeholders to make sure employment goals are realistic, the transition program fits workers’ needs, and results are durable. </p>

    <hr />
</div><!-- end main -->