<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Fit for Work</h1>

    <p>Fit for Work services are delivered to job seekers requiring support  to develop their functional work capacity and job readiness in preparation for employment. These services are targeted and specific to the individual needs of workers and initially focus on identifying suitable job goals.  Capacity upgrades are then facilitated through workplace based work trial placements in line with the identified job goals. PPC works hard to source highly supportive employers who can provide appropriate duties and a positive work environment.  Graduated return to work schedules are negotiated and closely monitored in consultation with the treating medical practitioners. Services are finalised when a worker has achieved optimum work capacity and is considered ready to job-seek for employment in the open labour market.</p>

    <hr />
</div><!-- end main -->