<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Intensive Job Seeking</h1>

    <p>Intensive Job Seeking is a program of support for work-injured workers who are medically and vocationally ready to commence job seeking.  Workers might still face some barriers and our Consultants work with them and their team to manage these challenges and support them into work with a new employer. Intensive Job Seeking services focus on fine-tuning job seeking skills, identifying job vacancies, and assisting with negotiating employment.  We provide support to workers and their new employers for 26 weeks after job placement to ensure job outcomes are lasting.</p>

    <hr />
</div><!-- end main -->