<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Job Placement</h1>

    <p>Job Placement can be a stand-alone service or form part of the progression from an Intensive Job Seeking or Employment Transition program.  We build and nurture relationships with employers, assisting with their recruitment needs while re-engaging injured workers with the workforce.  We identify suitable vacancies for job-ready workers and negotiate employment.  We promote and coordinate employer wage incentives and, where needed, facilitate workplace modifications and equipment.  We provide follow up support to workers and their new employers to ensure the employment is durable.</p>

    <hr />
</div><!-- end main -->