<div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
  
  <h1>Ongoing Support Assessments</h1>

  <p>Ongoing Support Assessments (OSA) were introduced by the Department of Education, Employment and Workplace Relations in 2010, as a feature of the Disability Employment Services.  OSAs are independent assessments of the ongoing support needs of Participants with disability, where extended support is required for them to retain their employment. </p>

  <p>PPC’s Ongoing Support Assessors:</p>

  <ul>
    <li>Arrange interviews at times and locations convenient for everyone involved.</li>
    <li>Take on board the views of Participants, Employers and DES Providers about the Participant’s support needs, as well as considering information available in the Participant’s file.</li>
    <li>Respect the wishes of Participants if they do not want their Employer involved in the OSA.</li>
    <li>Are sensitive and flexible in conducting interviews where Participants might be anxious or require special arrangement due to their disability.</li>
    <li>Welcome the involvement of the Participant’s advocate or other parties where appropriate.</li>
    <li>Wherever agreed, attend the Participant’s worksite to get a first hand understanding of their job.</li>
    <li>Apply their considerable expertise in the fields of disability and work in their recommendations.  </li>
    <li>Discuss their recommendations with parties before finalising support levels.</li>
    <li>Liaise closely with the Department of Employment to ensure OSAs are well managed. </li>
  </ul>

  <p>PPC’s OSA Assessors are all highly experienced in the fields of disability and employment.  We go beyond and above to ensure assessments are conducted with sensitivity and provide value to all parties.</p>

  <p>For more information about Ongoing Support Assessments <a href="http://employment.gov.au/" target="_blank">click here</a>.  To enquire about PPC’s Ongoing Support Assessments, please {{#link-to 'page' 'contact'}}contact us{{/link-to}}. Our services are available in South Australia, the ACT and Inner Sydney.</p>


  <hr />
</div><!-- end main -->