<div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
  
  <h1>Supported Wage System</h1>

  <p>The Supported Wage System (SWS) has been in place throughout Australia since 1994 to improve employment opportunities for people with disability.  The SWS offers a reliable, productivity-based wage assessment for people who are unable to work at full work productivity because of disability.  The SWS is managed by the Department of Employment and is supported under the Australian Industrial Relations framework.  </p>
  <p>Employees on a supported wage are often participants registered with a Disability Employment Services provider, however SWS assessments are also available to people who are not registered with a DES Provider.  In this case Employers or Employees can apply directly to the Supported Wage Management Unit, and Assessors work with them in establishing the productivity based wage.  </p>
  <p>SWS assessments are repeated on an annual basis while Employees remain in their jobs.</p>
  <p>PPC’s SWS Assessors:</p>

  <ul>
    <li>Liaise closely with Employees with disability, Employers and DES Providers to ensure assessments are well managed, efficient and accurate, with least disruption to the workplace.</li>
    <li>Ensure Employees are well prepared and understand what to expect from their SWS assessment, and what it will mean for their wages.</li>
    <li>Welcome the involvement of Employees’ advocates where appropriate.</li>
    <li>Are sensitive to Employee’s needs in relation to their disability and the SWS assessments.</li>
    <li>Attend the workplace at an agreed, convenient time, analyse the Employee’s job, and take timings of the Employee and a comparison worker to establish accurate productivity measures.</li>
    <li>Calculate a rate of pay which reflects the Employee’s duties, the Award or workplace agreement under which they are employed, and their assessed productivity.</li>
    <li>Facilitate the lodgement of Wage Assessment Agreements with the Industrial Instrument.</li>
    <li>Liaise with the Supported Wage Management Unit for proper management of assessments.</li>
  </ul>

  <p>PPC’s SWS Assessors are all highly experienced in the fields of disability and employment.  We go beyond and above to ensure assessments are conducted with sensitivity, and with accuracy for the benefit of both Employees and Employers.</p>

  <p>For more information about the Supported Wage Scheme, <a href="http://www.jobaccess.gov.au/" target="_blank">click here</a>.  To enquire about how PPC can assist you to access the SWS, please {{#link-to 'page' 'contact'}}contact us{{/link-to}}. Our services are available in South Australia and the ACT.</p>


  <hr />
</div><!-- end main -->