<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
          
  <h1>How do I get involved?</h1>

  <p>If you have a vacancy, have an employee with disability needing support, or would like to get involved with PPC, please {{#link-to 'page' 'contact'}}contact us{{/link-to}}, or call our head office on (08) 8379 2500.  One of our friendly consultants will be able to assist you.  </p>

  <p>What our employers and networks say about us</p>

  <ul class="cycle">
    <li>
      <blockquote>“PPC uses best practice for referring clients to appointments and I commend PPC for attending appointments with clients so that we are all working on the same page”</blockquote>
    </li>
    <li>
      <blockquote>“The relationship between us and PPC has always been one of open communication and willingness to share information and support” </blockquote>
    </li>
    <li>
      <blockquote>“We really didn’t think he was up to the job, but with support from PPC we have been pleasantly surprised with his capabilities. As a result of this, we would consider hiring another employee with a disability connected to PPC” </blockquote>
    </li>
  </ul>

</div><!-- end main -->