<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
          
  <h1>How do I get involved?</h1>

  <p>If you have a vacancy, have an employee with disability needing support, or would like to get involved with PPC, please {{#link-to 'page' 'contact'}}contact us{{/link-to}}, or call our head office on (08) 8379 2500.  One of our friendly consultants will be able to assist you.  </p>

  <p>What our employers and networks say about us</p>

  <blockquote>
    “The follow up after the course was a testament to PPC’s dedication to ensure their clients don’t fall between the cracks. There have been some very good outcomes”
  </blockquote>

</div><!-- end main -->