<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>How Can We Help You?</h1>

    <p>At PPC we pride ourselves in empowering our clients through their job seeking.  We help job seekers identify what they can do, regardless of disability, and what they have to offer employers.  We help build skills and confidence for job seeking and for work.  We provide information and help with decision-making, so job seekers can make their own choices about work.  We take time to match job seekers with the ‘right’ job and the ‘right’ employer, to meet everyone’s needs.  PPC understands the benefits for everyone of being in the right job – stability, improved finances, social connectedness, independence and feeling good about yourself</p>

    <p>What our job seekers say about us</p>

    <ul class="cycle">
      <li>
        <blockquote>“PPC did a lot of homework for me. They told me of the jobs. They listened – I was a bit choosey. Full marks for their efforts”</blockquote>
      </li>
      <li>
        <blockquote>My PPC Consultant gave 110% of her time and gave me the tools to regain my confidence. I am more open minded about employment and they helped me greatly to overcome the barriers I HAD!”</blockquote>
      </li>
      <li>
        <blockquote>“PPC have been helpful in helping me get work and keeping in contact with me. They help me with my up and down days”</blockquote>
      </li>
      <li>
        <blockquote>“The best thing was the ability to be able to learn and grow, and the way I was treated”</blockquote>
      </li>
      <li>
        <blockquote>“I felt well informed and compliment staff on making me feel that I was treated exceptionally special”.</blockquote>
      </li>
      <li>
        <blockquote>“I couldn’t fault the service.  As a matter of fact they went beyond my expectations”</blockquote>
      </li>
      <li>
        <blockquote>“PPC have helped me in so many ways and now I have a great job. They keep in contact with me and have organized modifications to my desk so that it’s easier. I have increased in confidence so much and I love my work”</blockquote>
      </li>
      <li>
        <blockquote>“PPC helped me with employment, personal development & growth & general support. Used a team approach”</blockquote>
      </li>
      <li>
        <blockquote>“I was unsure how a  country based DES would work, however from the first moment I knew that PPC was switched on to the needs of the disabled, especially in our country area.”</blockquote>
      </li>
      <li>
        <blockquote>“During my time as a PPC Participant I have found the staff to be exceptional at their jobs.  They treated me with respect, dignity and understanding, and offered support when needed.”</blockquote>
      </li>
      <li>
        <blockquote>“I feel the importance of your company’s title being ‘Personal’ Placements is apt and important in the field of rehab. I have found this service imperative to my willingness to self- help and recover. Thank you.”</blockquote>
      </li>
      <li>
        <blockquote>“There’s no way I would still be in this job without PPC’s support.”</blockquote>
      </li>
      <li>
        <blockquote> “I really appreciate the way PPC are happy to meet me at my home, at the local cafe for coffee. This is helpful as I don’t always have the petrol and there’s no public transport.” (From a job seeker in Clare)</blockquote>
      </li>
    </ul>

    <p>We believe that everybody who is able should have the chance to benefit from the dignity of work, no matter what their circumstances. We work with a variety of individuals who are:</p>

    <ul>
      <li>Mature age</li>
      <li>Of Aboriginal & Torres Strait Islander descent</li>
      <li>From culturally and linguistically diverse backgrounds</li>
      <li>Parents, including single parents</li>
      <li>Youth, including both early and eligible school leavers</li>
      <li>Short-term or long-term unemployed</li>
      <li>Qualified or un-qualified workers</li>
      <li>Experienced workers or individuals new to the workforce</li>
      <li>Currently employed or at risk of losing their employment due to their medical circumstances</li>
    </ul>

    <p>As a job seeker accessing PPC’s services, you can expect to: </p>

    <ul>
      <li>Receive a thorough assessment of your needs</li>
      <li>Be given information to understand the program and opportunity clarify your expectations</li>
      <li>Feel welcomed, safe and comfortable raising concerns with your consultant</li>
      <li>Spend the time you need with your consultant, deciding on suitable job goals</li>
      <li>Develop a step-by-step plan to help you reach your employment goals</li>
      <li>Access training in job search skills - resume writing, job applications, interview techniques</li>
      <li>Receive support in addressing any personal circumstances affecting your capacity to work</li>
      <li>Work with your consultant to establish job leads, complete applications and attend interviews</li>
      <li>Be linked with the National Disability Recruitment Coordinator where appropriate to maximize opportunities with larger employers</li>
      <li>Receive whatever support you need to keep your employment, for at least 6 months</li>
      <li>Receive ongoing support beyond 6 months where this will help you maintain your employment</li>
      <li>Have access to Government resources to help reduce barriers you might face in the workplace, for example  workplace modifications, workplace training or {{#link-to 'page' 'wage-subsidies'}}employer wage subsidies{{/link-to}}</li>
      <li>Have the support of your consultant in liaising with your employer and helping manage any challenges in the workplace</li>
    </ul>
    
    <hr />
</div><!-- end main -->
