<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>How Can We Help You?</h1>

    <p>At PPC we pride ourselves in empowering our clients through their job seeking.  We help job seekers identify what they can do, regardless of disability, and what they have to offer employers.  We help build skills and confidence for job seeking and for work.  We provide information and help with decision-making, so job seekers can make their own choices about work.  We take time to match job seekers with the ‘right’ job and the ‘right’ employer, to meet everyone’s needs.  PPC understands the benefits for everyone of being in the right job – stability, improved finances, social connectedness, independence and feeling good about yourself</p>

    <p>We believe that everybody who is able should have the chance to benefit from the dignity of work, no matter what their circumstances. We work with a variety of individuals who are:</p>

    <ul>
      <li>Mature age</li>
      <li>Of Aboriginal & Torres Strait Islander descent</li>
      <li>From culturally and linguistically diverse backgrounds</li>
      <li>Parents, including single parents</li>
      <li>Youth, including both early and eligible school leavers</li>
      <li>Short-term or long-term unemployed</li>
      <li>Qualified or un-qualified workers</li>
      <li>Experienced workers or individuals new to the workforce</li>
      <li>Currently employed or at risk of losing their employment due to their medical circumstances</li>
    </ul>

    <p>As a job seeker accessing PPC’s services, you can expect to: </p>

    <ul>
      <li>Receive a thorough assessment of your needs</li>
      <li>Be given information to understand the program and opportunity clarify your expectations</li>
      <li>Feel welcomed, safe and comfortable raising concerns with your consultant</li>
      <li>Spend the time you need with your consultant, deciding on suitable job goals</li>
      <li>Develop a step-by-step plan to help you reach your employment goals</li>
      <li>Access training in job search skills - resume writing, job applications, interview techniques</li>
      <li>Receive support in addressing any personal circumstances affecting your capacity to work</li>
      <li>Work with your consultant to establish job leads, complete applications and attend interviews</li>
      <li>Be linked with the National Disability Recruitment Coordinator where appropriate to maximize opportunities with larger employers</li>
      <li>Receive whatever support you need to keep your employment, for at least 6 months</li>
      <li>Receive ongoing support beyond 6 months where this will help you maintain your employment</li>
      <li>Have access to Government resources to help reduce barriers you might face in the workplace, for example  workplace modifications, workplace training or {{#link-to 'page' 'wage-subsidies'}}employer wage subsidies{{/link-to}}</li>
      <li>Have the support of your consultant in liaising with your employer and helping manage any challenges in the workplace</li>
    </ul>

    <p>For further information or to speak to one of our staff, please {{#link-to 'page' 'contact'}}click here{{/link-to}}.</p>

    <div class="quote">
      <p><strong>What our job seekers say about us</strong></p>

      <ul class="cycle">
        <li>
          <blockquote>My PPC Consultant gave 110% of her time and gave me the tools to regain my confidence. I am more open minded about employment and they helped me greatly to overcome the barriers I HAD!</blockquote>
        </li>
        <li>
          <blockquote>I couldn’t fault the service.  As a matter of fact they went beyond my expectations</blockquote>
        </li>
        <li>
          <blockquote>PPC have helped me in so many ways and now I have a great job. They keep in contact with me and have organized modifications to my desk so that it’s easier. I have increased in confidence so much and I love my work</blockquote>
        </li>
      </ul>
    </div>
  
</div><!-- end main -->
