<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
          
  <h1>Employers</h1>

  <p>PPC builds relationships with local employers, developed through 15 years of providing one on one support to employers and job seekers.  PPC services focus on the outcomes job seekers and employers want. We understand that employers have a business to run and want to be profitable.  We understand they often also want to give someone with disability a go, but might not know how to go about it. </p>
  <p>PPC is committed to supporting employers in all aspects of the employment process - pre-selection, recruitment interviewing, on the job training and, where needed, ongoing support for job seekers.</p>
  <p>Our job seekers come from a diverse range of backgrounds, with each individual facing unique personal circumstances. The range of skills and job goals that our job seekers present with are also very varied. PPC has successfully supported clients into long-term employment within a variety of roles and industries including:</p>

  <ul>
    <li>Administration and finance</li>
    <li>Reception and medical reception</li>
    <li>Manufacturing and production</li>
    <li>Retail</li>
    <li>Aged care and disability support</li>
    <li>Nursing</li>
    <li>Early Learning, Primary, Secondary and Tertiary Education</li>
    <li>Warehousing and stores work</li>
    <li>Hospitality</li>
    <li>Labouring</li>
    <li>Gardening and maintenance</li>
  </ul>
    
  <p>We are flexible in our approach and keen to establish effective partnerships with employers, no matter what the industry or employment type!</p>

  <blockquote>
    “I wouldn’t hesitate employing one of PPC’s clients again as I know that PPC are 100% true to their word.”
  </blockquote>

  <hr />
</div><!-- end main -->