<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
          
  <h1>Employers</h1>

  <p>PPC builds relationships with local employers, developed through 15 years of providing one on one support to employers and job seekers.  PPC services focus on the outcomes job seekers and employers want. We understand that employers have a business to run and want to be profitable.  We understand they often also want to give someone with disability a go, but might not know how to go about it. </p>
  <p>PPC is committed to supporting employers in all aspects of the employment process - pre-selection, recruitment interviewing, on the job training and, where needed, ongoing support for job seekers.</p>
  <p>Our job seekers come from a diverse range of backgrounds, with each individual facing unique personal circumstances. The range of skills and job goals that our job seekers present with are also very varied. PPC has successfully supported clients into long-term employment within a variety of roles and industries including:</p>

  <ul>
    <li>Administration and finance</li>
    <li>Reception and medical reception</li>
    <li>Manufacturing and production</li>
    <li>Retail</li>
    <li>Aged care and disability support</li>
    <li>Nursing</li>
    <li>Early Learning, Primary, Secondary and Tertiary Education</li>
    <li>Warehousing and stores work</li>
    <li>Hospitality</li>
    <li>Labouring</li>
    <li>Gardening and maintenance</li>
  </ul>
    
  <p>We are flexible in our approach and keen to establish effective partnerships with employers, no matter what the industry or employment type!</p>

  <h2>What we offer:</h2>

  <p>PPC Consultants:</p>

  <ul>
    <li>Listen to employers regarding their specific training and staffing requirements </li>
    <li>Pre-screen job seekers to ensure a good organisational fit</li>
    <li>Provide advice, support and training to co-workers regarding a new employee’s disability</li>
    <li>Keep abreast of trends in local labour markets, including skills shortages</li>
    <li>Set up paid or unpaid work experience (insurance provided)</li>
    <li>Assist with training of new employees</li>
    <li>Mentor our job seekers in the workplace to manage changes at work and any impacts of their disability</li>
    <li>Purchase on-the-job mentoring from employers where a co-worker can support an employee</li>
    <li>Attend worksites as often as needed to support employment outcomes</li>
    <li>Partner with employers to develop better ways of supporting job seekers with a disability, injury or illness</li>
    <li>Utilise Job Access through the Employment Assistant Fund, providing employers and job seekers with workplace modifications, equipment and specialised services to minimise any impacts of disability</li>
    <li>Reward our employers for their commitment through Commonwealth Government {{#link-to 'page' 'wage-subsidies'}}Wage Subsidies{{/link-to}} </li>
  </ul>

  <p>PPC can assist where an existing employee might be having difficulty in the workplace because of a disability, through the {{#link-to 'page' 'job-in-jeopardy'}}Job in Jeopardy{{/link-to}} program. </p>

  <p>We can also assist employers and employees with disability where a supported wage is appropriate, through sensitive and accurate {{#link-to 'page' 'supported-wage-system'}}Supported Wage System{{/link-to}} assessments </p>

  <h2>How do I get involved?</h2>

  <p>If you have a vacancy, have an employee with disability needing support, or would like to get involved with PPC, please {{#link-to 'page' 'contact'}}contact us{{/link-to}}, or call our head office on (08) 8379 2500.  One of our friendly consultants will be able to assist you.  </p>

  <p>What our employers and networks say about us</p>

  <ul class="cycle">
    <li>
      <blockquote>“I was very impressed how quickly PPC responded, organising a reconciliation meeting (same day) and I am happy to report Terry continues, 18 months later to be a valued member of our team”</blockquote>
    </li>
    <li>
      <blockquote>“I wouldn’t hesitate employing one of PPC’s clients again as I know that PPC are 100% true to their word.”</blockquote>
    </li>
    <li>
      <blockquote> “PPC Kadina is a committed member of our network of Providers, Government agencies and Industry people who have a regional focus on skills and employment.  PPC’s input and passion is appreciated greatly”</blockquote>
    </li>
    <li>
      <blockquote>“Our relationship has been of mutual benefit with sharing of job opportunities, training information and assisting with each other’s clients”</blockquote>
    </li>
    <li>
      <blockquote>“The follow up after the course was a testament to PPC’s dedication to ensure their clients don’t fall between the cracks. There have been some very good outcomes”</blockquote>
    </li>
    <li>
      <blockquote>“Our organization appreciates the fact that PPC support their clients whilst they are training, and also have a consultant attend training sessions with the client to support their learning”</blockquote>
    </li>
    <li>
      <blockquote>“PPC uses best practice for referring clients to appointments and I commend PPC for attending appointments with clients so that we are all working on the same page”</blockquote>
    </li>
    <li>
      <blockquote>“The relationship between us and PPC has always been one of open communication and willingness to share information and support” </blockquote>
    </li>
    <li>
      <blockquote>“We really didn’t think he was up to the job, but with support from PPC we have been pleasantly surprised with his capabilities. As a result of this, we would consider hiring another employee with a disability connected to PPC” </blockquote>
    </li>
  </ul>

  <hr />
</div><!-- end main -->