<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Job Seekers & Employees</h1>

    <p>FAQs coming soon</p>

    <hr />
</div><!-- end main -->