<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
  <h1>Job in Jeopardy</h1>

  <p>Our Job in Jeopardy program supports people at risk of losing their job due to a disability, injury or illness. PPC provides a tailored program that can address an individual’s barriers to keeping their job.</p>
  
  <h2>Who is eligible?</h2>

  <p>People are eligible for a Job in Jeopardy program if they are:</p>

  <ul>
    <li>Between 14 and 65 years of age</li>
    <li>An Australian citizen or permanent resident</li>
    <li>At risk of losing their job in the immediate future due to their disability, injury or health condition</li>
    <li>Have been employed in their job for at least eight hours per week on average over the previous 13 weeks</li>
  </ul>

  <p>People who are receiving a Centrelink sickness allowance and who meet the above-mentioned criteria may be eligible for a Job in Jeopardy program to assist them to return to work</p>

  <h2>How does it work?</h2>

  <p>A Job in Jeopardy program involves an initial interview to assess the person’s capacity to carry out the required tasks of their job and their ability to sustain normal hours of employment. PPC staff can then assist to organise the following, as appropriate:</p>

  <ul>
    <li>A workplace assessment </li>
    <li>Workplace equipment and modifications, where appropriate, in consultation with the employer</li>
    <li>Counselling, coaching and mentoring</li>
    <li>Mediation services</li>
    <li>Education for other staff members, eg regarding a particular disability</li>
    <li>Monitoring the individual’s progress and determining suitable duties until they return to their normal hours of employment or alternative hours of employment</li>
    <li>A graduated return to work </li>
  </ul>

  <p> Support can be provided on or off site, and can be offered to the employee alone and to other members of the workplace </p>

  <p>PPC will provide as needed support for 26 weeks to ensure the individual can maintain their work and is no longer at risk of losing their job. This is generally measured by the person achieving their normal responsibilities and hours of work. Support can be provided beyond 26 weeks where needed.</p>

  <p>If you have or one of your employees needs our help, please {{#link-to 'page' 'contact'}}contact us{{/link-to}}</p>

  <hr />
</div><!-- end main -->