<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Job Seekers & Employees</h1>

    <div class="accordions">

      <p class="accordion--question">
        Do you have a temporary or permanent injury, illness or disability that impairs your ability to work?  Are you looking for help with job seeking?
      </p>
      <div class="accordion--answer">
        <p>PPC is contracted by the Department of Employment to provide Disability Employment Services (DES) assisting people with a disability, injury or illness to get and keep work. PPC focuses on the needs of the individual by placing you, the job seeker, as the ‘expert’ in your own program. We celebrate small wins and build on successes by following consistent principles, adapting our approach to your specific needs.</p>
        <p>To find out more about how our program works, {{#link-to 'page' 'disability-employment-services'}}click here{{/link-to}}.</p>
        <p>To be contacted by one of our staff for further information, or to determine your eligibility for the program, {{#link-to 'page' 'contact'}}click here{{/link-to}}.</p>
      </div>

      <p class="accordion--question">
        Are you currently receiving a DSP (Disability Support Pension) and are you looking for work?
      </p>
      <div class="accordion--answer">
        <p>We believe that everybody who can should have the chance to benefit from the dignity of work, no matter what their age, background, health or medical circumstances. As a DSP recipient, it is likely that you are eligible for assistance with job seeking under our Government funded Disability Employment Services program. </p>
        <p>To find out more about the assistance we provide, {{#link-to 'page' 'des-how-can-we-help-you'}}click here{{/link-to}}.</p>
        <p>To be contacted by one of our staff for further information, or to determine your eligibility for the program, {{#link-to 'page' 'contact'}}click here{{/link-to}}. </p>
      </div>

      <p class="accordion--question">Are you receiving Newstart allowance?  Have you been referred to DES and are you looking for a Provider to assist you with your job seeking?</p>
      <div class="accordion--answer">
        <p>If you are an “activity-tested” recipient of Newstart allowance (meaning you are required to look for work), PPC can assist you in preparing you for employment, looking for work, attending interviews and working with you to ensure you keep your job. </p>
        <p>To find out more about the assistance we provide, {{#link-to 'page' 'des-how-can-we-help-you'}}click here{{/link-to}}.</p>
        <p>To be contacted by one of our staff for further information, or to determine your eligibility for the program, {{#link-to 'page' 'contact'}}click here{{/link-to}}. </p>
      </div>

      <p class="accordion--question">Are you currently employed but worried about losing your job due to the impact of an injury, illness or disability?</p>
      <div class="accordion--answer">
        <p>PPC offers a Job in Jeopardy service as a part of the Government funded Disability Employment Services. If you are at risk of losing your job due to your disability or medical circumstances, PPC can work with you to develop strategies to safeguard your employment. Depending on your specific needs, this may include liaising with your employer and advocating on your behalf to negotiate appropriate work arrangements to help you manage your personal needs, without compromising your productivity in the workplace.  Support can also be provided confidentially, outside your workplace, if it is important to you to keep your health circumstances private.  To find out more about the assistance we provide, {{#link-to 'page' 'job-in-jeopardy'}}click here{{/link-to}}.</p>
        <p>To be contacted by one of our staff for further information, or to determine your eligibility for the program, {{#link-to 'page' 'contact'}}click here{{/link-to}}. </p>
      </div>

      <p class="accordion--question">Are you a school student living with a disability (or their parent or caregiver), and looking for help with the transition from school to open employment?</p>
      <div class="accordion--answer">
        <p>PPC can assist with services for “Eligible School Leavers”. If you are currently in your final year of secondary school or are participating in a disability Transition to Work program AND are in receipt of the DSP (Disability Support Pension) or additional educational support related to your disability, you may be eligible for support under the Disability Employment Services. The service will be tailored to your individual needs and includes employment preparation, job search and ongoing support in the workplace once you have successfully secured employment. </p>
        <p>To find out more about the assistance we provide, {{#link-to 'page' 'des-how-can-we-help-you'}}click here{{/link-to}}.</p>
        <p>To be contacted by one of our staff for further information, or to determine your eligibility for the program, {{#link-to 'page' 'contact'}}click here{{/link-to}}. </p>

      </div>

    </div>

    <hr />
</div><!-- end main -->