<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
  <h1>Wage Subsidies </h1>

  <p>PPC can arrange access to the Wage Subsidy Scheme, which offers employers various subsidies and incentives to employ a job seeker with disability, who is registered with a Disability Employment Services Provider. For further information on Wage Subsidies, please <a href="http://jobsearch.gov.au/employerinfo/wagesubsidyinformation.aspx" target="_blank">visit the Australian Job Search website</a>.</p>

  <hr />
</div><!-- end main -->