<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Management</h1>

    <p>PPC’s senior management team has over 50 years’ combined experience in job placement, disability, injury management and workplace rehabilitation services.</p>

    <hr class="rule" />

    <p>
      <strong>Steve Harrington</strong><br />
      Managing Director, Bachelor of Social Work<br />
      E: <a href="mailto:Steve.Harrington@ppcons.com.au">Steve.Harrington@ppcons.com.au</a>
    </p>

    <p>Steve established PPC in 1997 and has guided the company from a small team of consultants to becoming one of South Australia’s largest private providers of disability employment and workplace rehabilitation and assessment services.  Steve’s previous experience includes working as a Regional Manager, Senior Advisor and Senior Rehabilitation Consultant for the Commonwealth Rehabilitation Service.  </p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Member AASW<br />
      Full Member, Australian Society of Rehabilitation Counsellors
    </p>

    <hr class="rule" />

    <p>
      <strong>Hayley Carlson</strong><br />
      Senior Manager<br />
      Bachelor of Behavioural Science (Psychology)<br />
      E: <a href="mailto:Hayley.Carlson@ppcons.com.au">Hayley.Carlson@ppcons.com.au</a><br />
    </p>

    <p>Hayley commenced with PPC in 2009 and was appointed as a Senior Advisor in 2012. Hayley is the Senior Manager of PPC’s Eastern Adelaide sites, overseeing both our Disability Employment Services (DES) and workplace rehabilitation contracts. Hayley has many years of experience working with long term, complex physical and psychological claims in both pre-injury and job seeking services for a range of customers, including Employers Mutual SA, Gallagher Bassett, Self-Insured, Comcare, Military Compensation and Rehabilitation Scheme and the Vietnam Veterans Rehabilitation Scheme. With a strong focus on job outcomes, performance, quality service and continuance improvement, Hayley is committed to supporting PPC’s staff to achieve the best result for both our job seekers and the customer. </p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Full Member, Australian Society of Rehabilitation Counsellors<br />
      Professional Career Development Practitioner, Career Industry Council of Australia
    </p>

    <hr class="rule" />

    <p>
      <strong>Rhia Vines</strong><br />
      Senior Manager<br />
      Diploma of Business Management<br />
      Diploma of Human Resource Management<br />
      E: <a href="mailto:Rhia.Vines@ppcons.com.au">Rhia.Vines@ppcons.com.au</a><br />
    </p>

    <p>Rhia has 18 years’ experience in Employment Services; two years in private recruitment and 16 years in Job Network and Job Service Australia. For the past 10 years she was employed in a Not for Profit organisation based in Country South Australia, with the last 7 years as the CEO.  Rhia has extensive experience in developing, implementing and managing tailored programs to assist disadvantaged young people and individuals in communities.  Her previous experience includes business development, sales operations and IT support.  Rhia commenced with PPC in July 2015 as a Senior Manager based at our Gawler office and will provide a key leadership role across the business by building closer ties with community and youth organisations, future planning for NDIS, and strengthening employer networks.</p>

    <hr class="rule" />

    <p>
      <strong>Lyn Stranger</strong><br />
      Senior Advisor<br />
      Certificate IV in Disability Services<br />
      E: <a href="mailto:Lyn.Stranger@ppcons.com.au">Lyn.Stranger@ppcons.com.au</a><br />
    </p>

    <p>Lyn joined PPC in 2008 in our then Disability Employment Network program, bringing with her very varied work experience, which includes PA to a Solicitor, Receptionist with a large Architectural firm, a Technician in Oil and Gas in PNG and extensive experience as a Functions Manager and Chef.  In 1997 Lyn made a career change into disability and employment services, and has worked in the Job Network, DEN and DES for 18 years as an Employment Consultant. Lyn is the Senior Advisor across our Kadina/Clare region and is a key support to our staff and clients. </p>

    <hr />
</div><!-- end main -->