<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Management</h1>

    <p>PPC’s senior management team has over 50 years’ combined experience in job placement, disability, injury management and workplace rehabilitation services.</p>

    <hr class="rule" />

    <p>
      <strong>Steve Harrington</strong><br />
      Managing Director, Bachelor of Social Work<br />
      E: <a href="mailto:Steve.Harrington@ppcons.com.au">Steve.Harrington@ppcons.com.au</a>
    </p>

    <p>Steve established PPC in 1997 and has guided the company from a small team of consultants to becoming one of South Australia’s largest private providers of disability employment and workplace rehabilitation and assessment services.  Steve’s previous experience includes working as a Regional Manager, Senior Advisor and Senior Rehabilitation Consultant for the Commonwealth Rehabilitation Service.  </p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Member AASW<br />
      Full Member, Australian Society of Rehabilitation Counsellors
    </p>

    <hr class="rule" />

    <p>
      <strong>Hayley Carlson</strong><br />
      Senior Manager<br />
      Bachelor of Behavioural Science (Psychology)<br />
      E: <a href="mailto:Hayley.Carlson@ppcons.com.au">Hayley.Carlson@ppcons.com.au</a><br />
    </p>

    <p>Hayley commenced with PPC in 2009 and was appointed as a Senior Advisor in 2012. Hayley is the Senior Manager of PPC’s Eastern Adelaide sites, overseeing both our Disability Employment Services (DES) and workplace rehabilitation contracts. Hayley has many years of experience working with long term, complex physical and psychological claims in both pre-injury and job seeking services for a range of customers, including Employers Mutual SA, Gallagher Bassett, Self-Insured, Comcare, Military Compensation and Rehabilitation Scheme and the Vietnam Veterans Rehabilitation Scheme. With a strong focus on job outcomes, performance, quality service and continuance improvement, Hayley is committed to supporting PPC’s staff to achieve the best result for both our job seekers and the customer. </p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Full Member, Australian Society of Rehabilitation Counsellors<br />
      Professional Career Development Practitioner, Career Industry Council of Australia
    </p>

    <hr />
</div><!-- end main -->