

/* TYPOGRAPHY */
	body {
		text-align: left;
		font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
		font-size: 12px;
        line-height: 16px;
		color: #4c4d4e;
	}
	div {
		font-size: 12px;
	}
	img {
		border: 0;
	}
	
/* LINKS */
	a,
	a:link 
	a:active {
		color: #939598;
		text-decoration: underline;
	}

	a:hover {
        color: #939598;
		text-decoration: none;
	}
/* END LINKS */
	
/* HEADINGS */
	h1 {
		font-size: 14px;
		line-height: 16px;
		margin: 5px 22px 15px 22px;
		padding: 0;
        color: #231f20;
	}
	h2 {
		font-size: 13px;
		line-height: 16px;
		margin: 0 22px 5px 22px;
		padding: 0;
        color: #231f20;
	}

/* END HEADINGS */

/* TEXT */
	p {
		font-size: 12px;
		margin: 0 22px 15px 22px;
		padding: 0;
		line-height:16px;
	}
	
	p.listpara {
		font-size: 12px;
		margin: 0 22px 2px 22px;
		padding: 0;
		line-height:16px;
	}

	.quote {
		background: #e9eaea;
		padding: 22px;

		p,blockquote {
			margin-left: 0;
			margin-right: 0;
		}

		blockquote {
			font-style: italic;
			line-height: 24px;
			margin-bottom: 0;
			margin-top: 0;
		}

		blockquote:before,
		blockquote:after {
			content: "";
			display: inline-block;
			width: 19px;
			height: 16px;
			position: relative;
		}

		blockquote:before {
			margin-right: 6px;
			background: url("/images/components/quote-start.gif");
			top: 1px;
		}

		blockquote:after {
			margin-left: 6px;
			background: url("/images/components/quote-end.gif");
			top: 5px;
		}
	}

	// blockquote {
	// 	text-align: center;
	// 	margin: 0 22px 5px 22px;
	// }
	
	// blockquote:last-child {
	// 	margin-bottom: 22px;
	// }


	pre {
		font-family: monospace;
		font-size: 1.0em;
	}
	strong, b {
		font-weight: bold;
	}
	em, i {
		font-style:italic;
	}
    code {
        font-family: "Courier New", Courier, monospace;
        font-size: 1em;
        white-space: pre;
    }
/* END TEXT */
	
/* LISTS */
	#main ul {
        line-height:16px;
		margin: 0 0 15px 0;
		padding: 0;
	}
	#main ul li {
		margin: 0 22px 2px 35px;
		padding: 0;
	}

	#main ul.list-spaced li + li {
		padding-top: 6px;
	}

/* END LISTS */
	
	
/* TABLE */
	table {
		font-size: 12px;
		margin: 0 22px 15px 22px;
		padding: 0;
		line-height:16px;
	}
	table caption {
		font-weight: bold;
		margin: 0 0 0 0;
		padding: 0 0 1.5em 0;
	}
	th {
		font-weight: bold;
		text-align: left;
	}
	td {
		padding: 3px 0px;
		vertical-align: top;
		width: 195px;
	}
	td.right {
		padding: 3px 0px;
		vertical-align: top;
		width: 200px;
	}
/* END TABLE */	
	
	hr {
		display: none;
	}
	div.hr {
		height: 1px;
		margin: 1.5em 10px;
		border-bottom: 1px dotted black;
	}
	
	/* CYCLE */
	#main .cycle {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#main .cycle li {
		list-style: none;
		margin: 0;
	}
	#main .cycle li blockquote {
		font-style: italic;
	}

	/* RULES */
	hr.rule {
		display: block;
		margin: 0 22px 15px;
		border: 1px solid #000;
		border-width: 1px 0 0 0;
	}

/* END TYPOGRAPHY */	