            <div id="main">
    <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />

    <h1>Disability Employment Services</h1>
    <p>
      PPC has been helping people find employment since 1997 and is a contracted
      provider to the Department of Employment and Workplace Relations for the
      Disability Employment Services program (DES).
    </p>
    <p>
      DES is a government funded service to assist job-seekers with a disability,
      injury or medical condition to obtain paid employment that matches their
      capacity for work. Job seekers may be referred to PPC following a Job
      Capacity Assessment or clients may be able to register directly with PPC.
    </p>
    <p>
      The DES Program has two program streams:
    </p>
    <p>
      <strong>Disability Management Service</strong> is for job seekers with a
      disability, injury or ill health who require the assistance of a specialist
      disability employment service but who are not expected to need long term
      support in the workplace.
    </p>
    <p>
      <strong>Employment Support Service</strong> is for job seekers with a
      permanent disability and an assessed need for more intensive ongoing support
      in the workplace.
    </p>
    <p>
      The objectives of both streams are to provide high quality, specialist
      employment services that:
    </p>
    <ul>
      <li>Enable job seekers with a disability to achieve sustainable employment to their maximum capacity</li>
      <li>Promote the capacity of people with a disability leading to improved employment opportunities</li>
      <li>Encourage innovation and continuous improvement in the provision of employment services</li>
    </ul>
    <p>
      DES services can include:
    </p>
    <ul>
      <li>Support while training for a particular job, this may be provided by PPC or subcontracted to another agency.</li>
      <li>Assistance in finding a job and starting employment in the open labour market.</li>
      <li>Post placement support once employment has commenced.</li>
    </ul>
    <p>
      PPC provides DES services at the following locations in South Australia:
    </p>

    <h2>PPC Kadina</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          Unit 2, 10 Taylor Street
          <br />
          KADINA SA 5554
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          1800 768 544
          <br />
          (08) 8821 2711
        </td>
      </tr>
      <tr>
        <td>Facsimile:</td>
        <td>
          (08) 8821 2887
        </td>
      </tr>
      <tr>
        <td>Disability Access:</td>
        <td>
          Yes
        </td>
      </tr>
    </table>

    <h2>PPC Fullarton</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          Unit 3, 202 Glen Osmond Road
          <br />
          FULLARTON SA 5063
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          (08) 8379 2500
        </td>
      </tr>
      <tr>
        <td>Facsimile:</td>
        <td>
          (08) 8379 2599
        </td>
      </tr>
      <tr>
        <td>Disability Access:</td>
        <td>
          Yes
        </td>
      </tr>
    </table>

    <h2>PPC Maylands</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          Steadfast Business Centre
          <br />
          Suite 34 / 239 Magill Rd
          <br />
          MAYLANDS  SA  5069
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          (08) 8379 2500 or 1800 768 544
        </td>
      </tr>
    </table>

    <h2>PPC Gawler</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          Station Master's House
          <br />
          5 King Street
          <br />
          GAWLER  SA  5118
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          (08) 8379 2500 or 1800 768 544
        </td>
      </tr>
      <tr>
        <td>Facsimile:</td>
        <td>
          (08) 8379 2599
        </td>
      </tr>
    </table>

    <p>
      PPC Part-time and outreach - visiting sites:
    </p>

    <h2>PPC Clare</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          189 Main North Road
          <br />
          CLARE SA 5453
          <br />
          (Employment Directions)
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          1800 768 544
        </td>
      </tr>
    </table>

    <h2>PPC Yorketown</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          33 Stansbury Road
          <br />
          YORKETOWN SA 5576
          <br />
          (S.Y.P Telecentre)
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          1800 768 544
        </td>
      </tr>
    </table>

    <h2>PPC Nailsworth</h2>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>
          1 Thomas Street
          <br />
          NAILSWORTH SA 5083
          <br />
          (Prospect Council Community Room - the Cottage)
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          1800 768 544
        </td>
      </tr>
    </table>

    <p>
      For more information about the DES program call Patrick Murphy on (08) 8379 2500 or visit the DEEWR website.
    </p>

                <hr />
            </div><!-- end main -->