<div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
        <h1>Supported Wage System and On-going Support Assessments</h1>

        <p>The Department of Education, Employment and Workplace Relations (DEEWR) has contracted PPC to provide Supported Wage System and On-going Support Assessments, to support employers of Disability Employment Services participants.</p>

        <h2>Supported Wage System</h2>

        <p>The Supported Wage System is available to support the employment of people who are unable to work at full work productivity due to the effects of their disability.  A trained and qualified consultant from PPC can visit the workplace to measure the rate of productivity of the person compared to the performance standard expected of a co-worker without a disability who undertakes the same duties.  This assessment enables an appropriate rate of pay to be determined for the employee with the disability. This assessment can be reviewed annually or earlier if there are changes to the employees&rsquo; job or work productivity.</p>

        <p>This process is designed to support employers in the employment of people with disabilities, through the provision of a process that fairly recognises the contribution of employees with disabilities.</p>

        <h2>On-going Support Assessments</h2>

        <p>Disability Employment Services providers who are working with people who have obtained employment and where it is considered that On-going Support is needed to assist the person to maintain employment, can contact PPC to request an appropriate assessment to determine the amount of support that is required in the future.</p>

        <p>PPC will meet with the participant, their employer and their Employment Services provider, review the extent of supported already provided, and undertake a workplace assessment to ascertain the level of On-going Support, if any, that is required. A report is provided to the Disability Employment Services provider outlining if On-going Support is required and if so, detailing if this is to be at the Flexible, Moderate or High level. </p>

          <p>Ideally, a Supported Wage Assessment and an On-going support Assessment can be undertaken at the same time. PPC offers these services throughout most locations in South Australia and in Inner Sydney NSW as well as Queanbeyan ACT. For more details on PPC&rsquo;s Supported Wage and On-going Support Assessment, please contact Patrick Murphy on (08) 8379 2500.</p>






                <hr />
            </div><!-- end main -->