            <div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
        <h1>Workers Compensation</h1>

    <p>PPC has been providing workplace rehabilitation services to insurers, exempt employers and government organisations since 1997.</p>

    <p class="listpara">It offers the following services:</p>
    <ul>
    <li><a href="returntowork.html">Return To Work</a> (includes pre-injury, new employer &amp; psychiatric injuries)</li>
    <li><a href="intensivejobseeking.html">Intensive Job Seeking</a> (includes employment transition)</li>
    <li><a href="restorationassessments.html">Community Restoration</a></li>
    <li><a href="vocationalassessments.html">Vocational and Suitable Employment Assessments</a></li>
    </ul>
    <p>For more details on PPC&rsquo;s Workers Compensation services click on the link above or call Patrick Murphy on (08) 8379 2500. </p>



                <hr />
            </div><!-- end main -->