            <div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
        <h1>Workers Compensation</h1>

    <p>PPC has been providing workplace rehabilitation services to insurers, exempt employers and government organisations since 1997.</p>

    <p class="listpara">It offers the following services:</p>
    <ul>
    <li>{{#link-to 'page' 'return-to-work'}}Return To Work{{/link-to}} (includes pre-injury, new employer &amp; psychiatric injuries)</li>
    <li>{{#link-to 'page' 'intensive-job-seeking'}}Intensive Job Seeking{{/link-to}} (includes employment transition)</li>
    <li>{{#link-to 'page' 'community-restoration'}}Community Restoration{{/link-to}}</li>
    <li>{{#link-to 'page' 'vocational-and-suitable-employment-assessments'}}Vocational and Suitable Employment Assessments{{/link-to}}</li>
    </ul>
    <p>For more details on PPC&rsquo;s Workers Compensation services click on the link above or call Patrick Murphy on (08) 8330 4500. </p>



                <hr />
            </div><!-- end main -->