Redirect 301 /ourpeople.html  http://ppcons.com.au/#/our-people
Redirect 301 /disabilityemploymentservice.html‎ http://ppcons.com.au/#/disability-employment-services
Redirect 301 /contact.html http://ppcons.com.au/#/contact
Redirect 301 /privacy.html http://ppcons.com.au/#/privacy
Redirect 301 /careers.html http://ppcons.com.au/
Redirect 301 /services.html‎  http://ppcons.com.au/
Redirect 301 /disclaimer.html‎  http://ppcons.com.au/#/disclaimer
Redirect 301 /copyright.html‎ http://ppcons.com.au/#/copyright
Redirect 301 /aboutus.html‎ http://ppcons.com.au/#/about-us
Redirect 301 /links.html‎ http://ppcons.com.au/#/links
Redirect 301 /quality.html‎ http://ppcons.com.au/#/commitment-to-quality
Redirect 301 /sitemap.html‎ http://ppcons.com.au/#/sitemap
Redirect 301 /referrals.html‎ http://ppcons.com.au/
Redirect 301 /restorationassessments.html‎  http://ppcons.com.au/
Redirect 301 /vocationalassessments.html‎ http://ppcons.com.au/#/ongoing-support-assessments
Redirect 301 /workerscomp.html‎ http://ppcons.com.au/
Redirect 301 /returntowork.html‎  http://ppcons.com.au/
Redirect 301 /supportedwageongoingsupportassessments.html‎  http://ppcons.com.au/#/ongoing-support-assessments
Redirect 301 /jobcapacityaccountservices.html‎  http://ppcons.com.au/
Redirect 301 /intensivejobseeking.html‎ http://ppcons.com.au/
Redirect 301 /jobcapacityassessment.html‎ http://ppcons.com.au/