<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Management</h1>

    <p>PPC’s senior management team has over 50 years’ combined experience in job placement, disability, injury management and workplace rehabilitation services.</p>

    <hr class="rule" />

    <p>
      <strong>Steve Harrington</strong><br />
      Managing Director, Bachelor of Social Work<br />
      E: <a href="mailto:Steve.Harrington@ppcons.com.au">Steve.Harrington@ppcons.com.au</a>
    </p>

    <p>Steve established PPC in 1997 and has guided the company from a small team of consultants to becoming one of South Australia’s largest private providers of disability employment and workplace rehabilitation and assessment services.  Steve’s previous experience includes working as a Regional Manager, Senior Advisor and Senior Rehabilitation Consultant for the Commonwealth Rehabilitation Service.  </p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Member AASW<br />
      Full Member, Australian Society of Rehabilitation Counsellors
    </p>

    <hr class="rule" />

    <p>
      <strong>Patrick Murphy</strong><br />
      General Manager<br />
      Bachelor of Social Work<br />
      E: <a href="mailto:Patrick.Murphy@ppcons.com.au">Patrick.Murphy@ppcons.com.au</a>
    </p>

    <p>Patrick commenced with PPC in 2000 and was appointed as Principal Consultant in 2008.  Patrick is presently PPC’s General Manager, overseeing both our Disability Employment Services (DES) and workplace rehabilitation contracts.  Patrick has many years’ experience working with long term, complex physical and psychological claims for a range of employers including State and Commonwealth employees as well as serving military personnel. He has considerable expertise developing and managing programs of support for job seekers with disability.  Patrick manages our relationships with self-insured employers and oversees our service delivery for Veterans’ Affairs and Military Compensation Rehabilitation Service clients.  He manages client services for WorkCover SA claims agents, and for Department of Social Services in the delivery of DES.</p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Full Member, Australian Society of Rehabilitation Counsellors
    </p>

    <hr class="rule" />

    <p>
      <strong>Moira Cooper</strong><br />
      Business Manager, Principal Consultant Support <br />
      Bachelor of Arts (Psychology); Diploma of Applied Science (Nursing)<br />
      E: <a href="mailtro:Moira.Cooper@ppcons.com.au">Moira.Cooper@ppcons.com.au</a>
    </p>

    <p>Moira's experience includes 12 years as a Registered Nurse prior to completing her Psychology Degree and moving into the employment services area both as an Employment  Consultant and Site Manager.  Moira joined PPC in 2002 and has worked with both pre-injury and detached workers compensation claims, including long term and complex claims with WorkCover, self-insured employers, the Australian Defence Force, SAPOL, income protection and third party insurance. Moira oversees a team of Rehabilitation Consultants and assists Patrick Murphy with management of PPC’s WorkCover contract.</p>

    <p>
      <strong>Accreditations</strong><br />
      Registered Workplace Rehabilitation Consultant with WorkCover SA<br />
      Comcare Approved Workplace Rehabilitation Provider<br />
      Full Member, Australian Society of Rehabilitation Counsellors
    </p>

    <hr />
</div><!-- end main -->