<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />

    <h1>Our Team</h1>

    <p>All our Workplace Rehabilitation Consultants have tertiary qualifications and professional membership meeting the Heads of Workers Compensation Authorities standards.  Unlike many other Employment Service providers, all of our DES Consultants hold recognised qualifications in Human Services or Allied Health, most at tertiary level.  PPC Assessors are all tertiary qualified in Human Services and have considerably more than the required minimum two years’ experience, plus a broad knowledge of injury management and disability. PPC supports the growth of our industry, and welcomes applications from suitably qualified graduates. </p>
    
    <hr />
</div><!-- end main -->