<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />

    <h1>Our Team</h1>

    <p>All our Workplace Rehabilitation Consultants have tertiary qualifications and professional membership meeting the Heads of Workers Compensation Authorities standards.  Unlike many other Employment Service providers, all of our DES Consultants hold recognised qualifications in Human Services or Allied Health, most at tertiary level.  PPC Assessors are all tertiary qualified in Human Services and have considerably more than the required minimum two years’ experience, plus a broad knowledge of injury management and disability. PPC supports the growth of our industry, and welcomes applications from suitably qualified graduates. </p>

    <p>PPC offers challenging and rewarding career opportunities and a workplace that allows everyone to perform at their best.  The qualities we value in our employees include:</p>

    <ul>
      <li>A commitment to making a difference for people with injury, illness or disability</li>
      <li>Professionalism</li>
      <li>A focus on achieving outcomes for our clients and customers</li>
      <li>Integrity and respect</li>
      <li>Self-direction and team support</li>
      <li>Humility and a commitment to lifelong learning</li>
    </ul>

    <p>We employ professionals with qualifications in the following fields:</p>

    <ul>
      <li>Rehabilitation Counselling</li>
      <li>Psychology</li>
      <li>Social Work</li>
      <li>Nursing</li>
      <li>Occupational Therapy</li>
      <li>Physiotherapy</li>
      <li>Disability</li>
      <li>Employment Services</li>
    </ul>

    <p>People who work for PPC enjoy:</p>

    <ul>
      <li>A great work environment, supportive colleagues and management</li>
      <li>Exposure to a variety of case management and assessment work for broad skill development</li>
      <li>Comprehensive induction, competency training, professional development and mentoring </li>
      <li>Financial support for relevant tertiary studies, after a qualifying period </li>
      <li>Flexible working arrangements that balance work and family life</li>
    </ul>

    <p>For more information, contact us or email <a href="mailto:careers@ppcons.com.au">careers@ppcons.com.au</a>.  Any information you forward to us is safe guarded in compliance with our Privacy Policy and the Privacy Act, 1988.  PPC is an Equal Opportunity Employer and our worksites are free from discrimination and harassment.  We welcome applications from people of all ages and backgrounds, and from people with disability.</p>
    
    <hr />
</div><!-- end main -->