<div id="main">
  <img src="images/banners/aboutus.jpg" width="522" height="142" alt="Aboutus" class="banner" />

  <h1>Commitment to Quality</h1>

  <p>PPC commits to delivering the highest standard of service and products to our clients and customers.  Our management system has been certified to International ISO 9001:2008 and the Disability Services Standards.  PPC also meets the conditions of approval of the Heads of Workers Compensation Authorities. </p>
  <p>We integrate our quality systems to support optimal service, track performance and outcomes for further improvement, and engage with our staff, clients and customers to ensure our service is effective and responsive, and to promote innovation.</p>
  <p>We are proud of our commitment to and achievements in quality.</p>

</div>