<div id="main">
  <img src="images/banners/aboutus.jpg" width="522" height="142" alt="Aboutus" class="banner" />

  <h1>How can we help you?</h1>

  <p>PPC can provide assistance wherever there is a need in relation to injury, illness or disability, and work.  Our expertise is the result of our longevity in the industry, our involvement in a broad range of complementary contracts, projects and services, and the stability of our staff. We share knowledge across the whole organisation to build our own best practice.  We invest in learning and look both in and outside the square to better our practice through innovation.</p>

  <p>We can assist with:</p>

  <ul>
    <li>Injury management consultancy and advice</li>
    <li>Case management – including complex, entrenched and long term cases </li>
    <li>Specialist assessments – vocational, initial needs, work capacity and suitable employment assessments, ongoing support and supported wage scheme assessments</li>
    <li>Job search skills training – one to one and small group</li>
    <li>Interview preparation and employment pre-screening</li>
    <li>Vocational planning and job seeking</li>
    <li>Job placement and post-placement support to keep employment</li>
    <li>Labour market research</li>
    <li>Community engagement and restoration for people with disability</li>
    <li>Workplace interventions where employment is in jeopardy</li>
    <li>Occupational therapy services in the workplace and the home</li>
  </ul>

</div>