<div id="main">
  <img src="images/banners/aboutus.jpg" width="522" height="142" alt="Aboutus" class="banner" />

  <h1>Our Values</h1>

  <ul>
    <li>We build early, respectful relationships with stakeholders to establish trust and confidence in our service.  </li>
    <li>We support clients to take risks, consider alternatives, manage set-backs, and be active participants in their own return to work or job seeking.</li>
    <li>We take a holistic, individualised approach to supporting clients.  Our clients are people, not just workers or job seekers.  We recognise their unique needs and goals.</li>
    <li>We take the time and apply the expertise to achieve realistic and lasting outcomes.</li>
    <li>We build relationships with the community, and are active and collaborative in supporting clients back to or into work.</li>
    <li>We invest in our ongoing learning to provide a skilled, sophisticated, quality service.</li>
    <li>We take advantage of our role to promote understanding and acceptance in the community of people with disability and work-injury.</li>
    <li>We offer professionalism, value for money and ethical business practices.</li>
    <li>We seek out opportunities for innovation and continuous improvement of our service.</li>
  </ul>

</div>