<div id="main">
  <img src="images/banners/aboutus.jpg" width="522" height="142" alt="Aboutus" class="banner" />

  <h1>Our Customers</h1>

  <p>
    <strong>We understand disability, illness and injury</strong>
  </p>

  <p>PPC Consultants have supported clients into employment or back to work who are experiencing: physical injury, psychological distress, mental illness, pain disorder, sensory impairment, degenerative conditions, acquired and traumatic brain injury, intellectual disability, autism spectrum disorders and others.  </p>

  <p>We can assist where injuries have been sustained at work or outside work, and with temporary incapacity, permanent injury, lifelong and degenerative conditions.</p>

  <p>PPC Consultants appreciate the impacts of being unwell and out of work on people’s families, finances, social activities and general health.  We also know that suitable work can help with these challenges.  PPC works with the whole person, to achieve real outcomes.  Our clients are:</p>

  <ul>
    <li>Work-injured workers </li>
    <li>People with disability wanting assistance to find and keep employment in the open labour market</li>
    <li>People in employment whose disability is putting their job at risk</li>
    <li>Employers of people with disability, illness or injury</li>
    <li>People whose disability means they can’t work, but want to be independent and connected with their community </li>
  </ul>

  <p>
    <strong>We understand work</strong>
  </p>

  <p>Our Consultants talk with employers and visit workplaces every day.  </p>
  <p>We understand what employers want in their employees, and their expectations for workplace behaviours.  We keep abreast of changing labour markets and appreciate employers’ business needs and pressures.  We understand workplace safety and can advise on employers’ workers compensation rights and responsibilities.</p>
  <p>PPC can assist employers where existing employees are having problems at work due to injury, illness or disability.  </p>
  <p>We can assist employers with recruitment, support to give someone with work injury or disability a go, settling employees into new jobs, continuing on-the-job support, and helping employees maximise their capabilities and productivity.  We assist employers who take on our job seekers, through wage incentives, training, equipment and other workplace supports.  Our customers are:</p>

  <ul>
    <li>Commonwealth Department of Employment – as a Disability Employment Service provider and  member of the National Panel of Assessors </li>
    <li>WorkCover SA</li>
    <li>Self-insured SA employers</li>
    <li>Comcare</li>
    <li>Department of Veterans’ Affairs</li>
    <li>Accident third party insurers</li>
    <li>Life insurance organisations</li>
  </ul>

</div>