<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>New Employer Services</h1>

    <p>PPC specialises in supporting work-injured workers into employment with new employers.   Our service is outcome-focused.  We draw on our organisation-wide expertise in job placement and job support, and combine case management and group-based services to provide individualised support to work-injured job seekers.  We support workers of any injury type, and any work background, into lasting jobs.  Our services include:</p>

    <ul>
      <li>Initial Needs Assessment, with a comprehensive report and recommendations</li>
      <li>Working with the worker and other stakeholders to identify suitable employment options</li>
      <li>Developing and implementing Rehabilitation and Return to Work Plans</li>
      <li>One to one case management , with regular and responsive contact with all stakeholders</li>
      <li>Identifying and responding to a worker’s individual challenges to a return to the workforce</li>
      <li>Close liaison with Case Managers, medical and health practitioners, including case conferencing</li>
      <li>Graduated return to work programs to build work fitness and confidence at an appropriate pace </li>
      <li>Identifying, establishing and monitoring formal retraining for workers</li>
      <li>Volunteer work to refresh, develop & practice skills, & build networks, confidence & work fitness</li>
      <li>One to one coaching of workers in job seeking</li>
      <li>Group training in job search skills - resume and application development & interview preparation </li>
      <li>Access to job search resources – PCs, internet, printers, scanners, stationery etc</li>
      <li>Sourcing paid job vacancies –cold canvassing, networking, advertised positions</li>
      <li>Promoting and coordinating employer incentive schemes</li>
      <li>Post placement support for workers and employers to ensure jobs are sustained</li>
    </ul>

    <blockquote>
      Quote: ‘<em>My PPC Consultant built up my confidence and faith in myself, which were at an all-time low.  I thought that no-one would hire me full-time at my age, but with my Consultant’s help I’m now working as an Assistant Manager.</em>’
    </blockquote>

    <hr />
</div><!-- end main -->