<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>PPCWORKS – Job Search Training & Facilities</h1>

    <p>PPC supports its clients in independent job seeking. Group training is a great complement to one on one case management.  We also provide facilities and resources which clients can access any time during business hours. PPCWORKS supports job seekers to identify what they can do, regardless of their injury or disability, and to develop practical skills and the confidence to make a difference in their job seeking.  </p>

    <p>PPCWORKS:</p>

    <ul>
      <li>Group training in comfortable facilities at various locations, refreshments provided</li>
      <li>Conducted by experienced Job Placement and Rehabilitation Consultants</li>
      <li>Open to all job seekers</li>
      <li>Access to computers, printers, copiers, scanners and postage for job search</li>
      <li>USB provided to store job search resources for the group and at home</li>
      <li>Open access to facilities and support after the group program, for individual job seeking</li>
    </ul>

    <p>Our groups cover:</p>

    <ul>
      <li>Confidence building – what is important to me & what can I offer employers?</li>
      <li>Setting practical goals for returning to the workforce </li>
      <li>Computing skills for job seeking </li>
      <li>Job search workshops – Resume Development and Job Application;  Networking Skills; Interview Techniques (Mock Interviews available upon request)</li>
      <li>Managing conversations about client’s health conditions, and time out of the workforce: 
        <ul>
          <li>Do I have to tell employers I have an injury/disability?  What if I have a mental illness?</li>
          <li>How do I talk about my injury?  When is the best time?</li>
          <li>What about employer incentives?</li>
        </ul>
      </li>
    </ul>

    <p>If you would like to refer yourself or a job seeker to PPCWORKS, please {{#link-to 'page' 'contact'}}contact us{{/link-to}} or telephone Head Office on (08) 8379 2500.</p>

    <div class="quote">
      <p><strong>What our job seekers say</strong></p>
      <blockquote>What I have taken away from the training: Realising that you have something to offer an employer and selling yourself.  Be confident in your approach to the job you would like to have a look at.  Look for things you can do, and offer your person, not your injury or inability.</blockquote>
    </div>


</div><!-- end main -->