<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Pre-Injury Employer Services: Remain at Work, Return to Work, Complex Return to Work</h1>

    <p>Pre-injury services support injured workers and their employers, to keep workers in their jobs or assist worker’s to return to safe, durable employment with their employer of injury.  The service is adaptable to the particular circumstances, considering the nature and severity of the injury, and the nature of the job and workplace.  PPC services include:</p>

    <ul>
      <li>Initial needs assessment</li>
      <li>Working with key parties in developing Rehabilitation and Return to Work Plans </li>
      <li>Consideration of risk factors and any barriers to a safe and effective return to work</li>
      <li>Reviewing duties and the workplace environment</li>
      <li>Liaison with medical providers</li>
      <li>Facilitating agreements regarding return to work with workers, employers and Case Managers</li>
      <li>Establishing and monitoring graduated return to work programs where needed</li>
      <li>Supporting return to work achievements to ensure they are lasting</li>
      <li>Making recommendations for transition into new roles in the pre-injury workplace, including retraining, where a return to pre-injury duties is not achievable</li>
    </ul>

    <hr />
</div><!-- end main -->