<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Restoration to the Community</h1>

    <p>Rehabilitation supports injured workers to remain part of their community as well as the workforce, and to reduce the social as well as economic cost to the community of employment-related disabilities.  Where a worker has suffered a catastrophic injury, resulting in serious and permanent disability, rehabilitation services are provided to the worker - and often their families - to facilitate their recovery and restore them to the community.</p>

    <p>PPC appoints its Senior Consultants in providing services under Restoration to the Community.  As an organisation specialising in long term claims, we have considerable experience supporting injured workers whose claims require complex case management.  We can also draw on our expertise in employment services to identify when a worker, despite serious injury, has capacity to return to the paid workforce.</p>

    <hr />
</div><!-- end main -->