<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Suitable Employment Assessments</h1>

    <p>Suitable Employment Assessments combine vocational and medical information to identify employment which is suitable for a worker with injury or disability, where that worker is not able to return to their pre-injury employment.  SEA are useful as a foundation for job seeking, or where workers are nearing the end of their workers compensation entitlement period and a comprehensive summary of suitable employment options is required. We can also identify when more specialised assessment is required, for example psychometric testing or functional capacity evaluation.  SEA are undertaken by PPC’s experienced consultants and involve:</p>

    <ul>
      <li>Vocational interview, including review of the worker’s employment and training history, interests, job preferences, demonstrated potential for learning, age and place of residence</li>
      <li>Non-psychometric testing to establish vocational aptitudes </li>
      <li>Review of medical information regarding work capacity and work limitations</li>
      <li>Review of functional job descriptions to identify critical job demands</li>
      <li>Tailored labour market research to support recommended job options</li>
      <li>A comprehensive report detailing suitable employment recommendations.  </li>
    </ul>

    <hr />
</div><!-- end main -->