            <div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />


    <h1>Restoration To The Community</h1>

    <p>This service is provided to a worker and / or their family when a worker has suffered a serious or catastrophic injury. It is aimed at facilitating a worker's recovery and restoration to the community.</p>

    <p>Cases in the category of serious injury are identified by the nature and type of injury and usually involve long periods of hospitalisation, treatment and recovery and result in permanent impairment. </p>

    <p class="listpara">Restoration to the community services include the following:</p>
    <ul>
    <li><a href="#initial">Initial rehabilitation assessment</a></li>
    <li><a href="#serious">Serious injury coordination</a></li>
    </ul>

    <h2 id="initial">Initial rehabilitation assessment</h2>

    <p>This service is used to assess the need for rehabilitation services, evaluating a worker's rehabilitation needs and determining the appropriate actions and services to be included in the initial rehabilitation program.</p>

    <p>Key activities include an initial interview with the worker, assessing the impact of the injury on the worker and/or the worker's family, identifying the need for external services, facilities and equipment, consulting with the medical management team, formulating an initial rehabilitation program and providing an initial report.</p>

    <h2 id="serious">Serious injury coordination</h2>

    <p>This service is used to facilitate a worker's recovery and restoration to the community.</p>

    <p>Key activities include coordinating external service delivery, purchasing approved equipment incorporating services into a rehabilitation program, consulting with key parties and providing progress reports.</p>


                <hr />
            </div><!-- end main -->