            <div id="main">
    <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />

    <h1>Intensive Job Seeking</h1>

    <p>We offer a comprehensive range of job seeking services aimed at returning injured workers to new employment.</p>

    <p>The primary objective of this service is to obtain a return to work outcome in a prompt and durable manner with the optimum level of replacement income.</p>

    <p class="listpara">Intensive job seeking services include the following:</p>
    <!-- will need to link these down the page -->
    <ul>
    <li><a href="#initialassessment">Initial assessment</a></li>
    <li><a href="#return">Return to work job search plan</a></li>
    <li><a href="#intensive">Intensive job seeking program</a></li>
    <li><a href="#job">Job placement</a></li>
    </ul>

    <h2 id="initialassessment">Initial assessment</h2>

    <p>This assessment is used to assess the suitability of a worker referred for Intensive Job Seeking Program services and to tailor plan objectives. It can involve a review of current medical and vocational information, an evaluation of a worker&rsquo;s job search needs and identification of appropriate actions and services to be included in the job search plan.</p>

    <p>Key activities include collecting information regarding referral requirements, an initial interview with the worker, documenting a worker&rsquo;s history, assessing vocational rehabilitation needs, contacting the treating doctor and other relevant parties and providing a report with recommendations to the claims manager.</p>

    <h2 id="return">Return to work job search plan</h2>

    <p>This service involves preparing and finalising a detailed plan to support a job search outcome. The plan includes all activities to be undertaken by the worker during the period of the Intensive Job Seeking Program. </p>

    <h2 id="intensive">Intensive job seeking program</h2>

    <p class="listpara">This comprises of a series of services individualised to the needs of the injured worker and delivered according to the job search plan. Examples of the types of services provided include:</p>
    <ul>
    <li>Resume development</li>
    <li>Interview preparation and coaching</li>
    <li>Access to job clubs and job search resources</li>
    <li>Employer canvassing for placements and jobs</li>
    <li>Post placement support for workers and employers</li>
    <li>Transitional counselling support </li>
    <li>Vocational and career planning</li>
    <li>Work preparation and training</li>
    <li>Intensive job search</li>
    <li>Job placement </li>
    <li>Job retention </li>
    </ul>

    <h2 id="job">Job placement</h2>

    <p>This service involves the negotiation and securing of sustainable and paid employment.</p>

    <p>It can be a distinct service or it can form part of the progression from an Intensive Job Seeking Program.</p>

    <p>For more information on PPC&rsquo;s Intensive Job Seeking Program call Patrick Murphy on (08) 8330 4500.</p>

                <hr />
            </div><!-- end main -->