            <div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />

    <h1>Return To Work</h1>

    <p>We offer a comprehensive range of return to work services aimed at reducing the human and financial impact of work injury.</p>

    <p>The primary objective of these services is to safely return an injured person to their pre-injury work as soon as practicable. Our consultants work closely with the injured worker, employer and treating medical experts to ensure the best outcomes are achieved.</p>

    <p>Where an injured person is unable to return to their pre-injury employment, services can be aimed at obtaining work with a new employer, the objective being to ensure the injured person returns to work in a prompt and safe manner, with a level of income equal to or better than their pre-injury employment.</p>

    <p class="listpara">Return to work services include the following:</p>
    <ul>
    <li><a href="#rehabilitation">Initial rehabilitation assessment</a></li>
    <li><a href="#workpreparation">Return to work preparation</a></li>
    <li><a href="#monitoring">Return to work monitoring</a></li>
    <li><a href="#retraining">Retraining</a></li>
    <li><a href="#jobsearch">Job search activities</a></li>
    </ul>

    <h2 id="rehabilitation">Initial Rehabilitation Assessment</h2>

    <p>This service incorporates assessing the need for rehabilitation services, evaluating a worker&#x27;s individual rehabilitation needs and determining appropriate actions and services to be included in the initial rehabilitation program or plan.</p>

    <p>Key activities include conducting an initial interview with the worker, contact with the employer, documenting the worker&#x27;s history, assessing the worker&#x27;s rehabilitation needs, an initial workplace meeting and review of the incident, contact with the treating medical expert, formulating the initial rehabilitation program or plan and preparing an initial report.</p>

    <h2 id="workpreparation">Return to Work Preparation</h2>

    <p>This service is used to prepare an inured worker for a return to their pre-injury or new employer.</p>

    <p>Key activities include co-ordination of strategies in consultation with the worker, employer, treating medical expert and other key parties, case conferences, developing, monitoring and formulating rehabilitation and return to work plans and resolving workplace issues and planning activities.</p>

    <h2 id="monitoring">Return to Work Monitoring</h2>

    <p>This service is used to monitor and review a return to work with the pre-injury employer or different employer once a worker has returned to work.</p>

    <p>Key activities include workplace visits, ongoing consultation with the worker, employer, treating medical expert and other key parties, case conferences, formulating, monitoring and reviewing rehabilitation and return to work plans and implementing strategies to support return to work.</p>

    <h2 id="retraining">Retraining</h2>

    <p>This service is aimed at ensuring a worker acquires the necessary knowledge and skills to perform a new job.</p>

    <p>Key activities include research of training options which support identified vocational goals, negotiating suitable training in consultation with the worker, employer and other key parties, incorporating strategies into a rehabilitation program or plan and the assessment and evaluation of the worker&#x27;s progress.</p>

    <h2 id="jobsearch">Job search activities</h2>

    <p>This service is used to develop an individualised strategy to address any issues and assist a worker to locate and obtain suitable employment.</p>

    <p>Key activities include identifying appropriate employment options, assessing needs and readiness for job search activity, providing support and practical training, coaching and motivational activities, liaising with employers and job placement agencies, conducting regular reviews, worksite assessments and incorporating strategies into a rehabilitation program or plan.</p>

    <p>For more information on PPC&rsquo;s Return to Work services, please call Patrick Murphy on (08) 8379 2500.</p>




                <hr />
            </div><!-- end main -->