            <div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
      
      <h1>Vocational and Suitable Employment Assessment Services</h1>
      
      <h2>Vocational Assessments</h2>

    <p>This service is designed to evaluate a worker&#x27;s vocational potential by means of integrated clinical and standardised assessment procedures and instruments. It involves the use of psychological assessment tests and is provided by a registered and experienced psychologist.</p>

    <p>The aim of the assessment is to evaluate a worker&#x27;s actual and potential ability, cognitive skills, aptitudes and competencies and relate these to realistic job options that are consistent with all the relevant background information. The service also includes a feedback session where the implications of the assessment are explained to the worker.</p>
    
    <p>Reports, including recommendations, are provided to the worker and the referrer to assist in progression towards a vocational outcome.</p>

    
    <h2>Suitable Employment Assessments</h2>

    <p>This service is undertaken to assist with the identification of a suitable employment direction for an injured worker who cannot return to their pre-injury employment.  Provided by an experienced and qualified Rehabilitation Consultant, the assessment aims to identify employment that is suitable for the injured worker, taking into account the nature of their injury or illness, the impact of their condition on their functioning, their age, education, skills and work experience, their work and non-work interests and any other relevant information. </p> 

    <p>The assessment usually includes discussions with the injured worker, their employers, their treatment providers, review of available medical reports, testing using non-psychometric tools, and contact with employers to ascertain employment options. By maintaining up to date knowledge of the labour market and employer requirements, PPC consultants are able to provide realistic achievable recommendations for training and job placement.  </p>

    <p>For more information on PPC&#x27;s Vocational and Suitable Employment Assessments, please contact Patrick Murphy on (08) 8379 2500.</p>
    
      
                <hr />
            </div><!-- end main -->