<div id="main">
  <img src="images/banners/aboutus.jpg" width="522" height="142" alt="Aboutus" class="banner" />

  <h1>About Us</h1>

  <p>Personnel Placement Consultancies Pty Ltd (PPC) has been providing solutions for people with injury, illness or disability in the workplace, and their employers, since 1997. We have grown from a group of 3 to a team of 30, based at 5 permanent sites plus outreaches in metropolitan Adelaide and regional SA, and in the ACT.</p>

  <p>Our core business is Workplace Rehabilitation and specialist Disability Employment Services.  We offer case management, job placement, specialist assessment and consultancy services.  Our expertise is varied and responsive, and our service is adaptable to meet a range of needs.  Our clients and referring customers value our diversity and significant capability.  </p>


</div>