<div id="main">
  <img src="images/banners/aboutus.jpg" width="522" height="142" alt="Aboutus" class="banner" />

  <h1>About Us</h1>

  <p>Personnel Placement Consultancies Pty Ltd (PPC) is a leading provider of disability employment, injury management, occupational and vocational rehabilitation services for employers, insurers and government agencies.</p>

    <p>Based in Adelaide, PPC has been operating in metropolitan and rural South Australia since 1997. </p>

    <p>The company is accredited to provide workers' compensation services for WorkCover South Australia and the Department of Defence. </p>

    <p>We also deliver Ongoing Support and Supported Wage System Assessments as a service provider for the Department of Education Employment and Workplace Relations (DEEWR).  </p>
    <p>PPC is quality accredited to the international ISO 9001:2008 Standard and the Disability Service Standards.</p>

    <p class="listpara">The company is committed to the following core values:</p>
  <ul>
  <li>Professionalism, value for money and ethical business practices</li>
  <li>Providing superior customer service </li>
  <li>Focusing on realistic and sustainable employment outcomes</li>
  <li>A commitment to quality and continuous improvement</li>
  </ul>
  <p>It is our aim to consistently exceed our client's expectations in limiting the human and financial impact of disability, injury and illness in the community and the workplace.</p>
  <hr />
</div>