  <div id="main">
    <img src="images/banners/contactus.jpg" width="522" height="142" alt="Contactus" class="banner" />
           
    <h1>Thanks</h1>

    <p>Thanks for your message. We will be in contact soon.</p>

  </div><!-- end main -->