           <div id="main">
  <img src="images/banners/contactus.jpg" width="522" height="142" alt="Contactus" class="banner" />
           
    <h1>Contact Us</h1>

    <h2>Fullarton – our head office</h2>
    <p><em>3.4km from Centrelink Norwood and 4 km from the CBD.  Bus stop 6 on Glen Osmond Rd at front of office and undercover visitor and disabled ramp parking available.</em></p>

    <p>
      Unit 3, 202, Glen Osmond Road<br />
      (PO Box 310)<br />
      FULLARTON SA 5063
    </p>

    <p>
      <strong>T</strong>: (08) 8379 2500 or 1800 768 544<br />
      <strong>F</strong>: (08) 8379 2599
    </p>

    <h2>Mawson Lakes</h2>

    <p><em>200m from the Mawson Interchange, with adjacent street parking and undercover disabled parking.</em></p>
    
    <p>
      Suite 3, 32-36 Metro Parade<br />
      MAWSON LAKES SA 5095
    </p>

    <p>
      <strong>T</strong>: (08) 8405 7200 or 1800 768 544<br />
      <strong>F</strong>: (08) 8405 7299
    </p>

    <h2>Maylands</h2>

    <p><em>
      1.1km from Centrelink Norwood and 4.7 km from the CBD.  54m walk  from Bus Stop 7 on Magill Rd.  <br />
      Off-street and disabled parking available.
    </em></p>

    <p>
      239 Magill Road<br />
      MAYLANDS SA 5067
    </p>

    <p>
      <strong>T</strong>: (08) 8379 2500 or 1800 768 544<br />
      <strong>F</strong>: (08) 8362 8221
    </p>

    <h2>Gawler</h2>

    <p><em>Located adjacent the Gawler Northern Market, 400km from Gawler Central Train Station.</em></p>

    <p>
      Station Master’s House<br />
      5 King Street<br />
      GAWLER SA 5118
    </p>

    <p>
      <strong>T</strong>: (08) 8379 2500 or 1800 768 544<br />
      <strong>F</strong>: (08) 8379 2599
    </p>

    <h2>Kadina & Surrounds</h2>

    <p><em>Located in the centre of Kadina, 500m from Centrelink with easy street parking. A base servicing the Copper Triangle and Yorke Peninsula</em></p>

    <p>
      Unit 2, 10 Taylor Street<br />
      (PO Box 45)<br />
      KADINA SA 5553
    </p>

    <p>
      <strong>T</strong>: (08) 8821 2711 or 1800 768 544<br />
      <strong>F</strong>: (08) 8821 2887
    </p>

    <p><em>
      PPC offers a full time office at <strong>Kadina</strong>, a part-time office at <strong>Clare</strong> and flexible hours for outreaches at <strong>Yorketown</strong> and <strong>Minlaton</strong>. Centrelink offices or self-serve kiosks are located within walking distance of every site, and all sites have disability parking and easy physical access.  
    </em></p>


    <iframe height="720" allowTransparency="true" frameborder="0" scrolling="no" style="width:90%;border:none" src="http://katalyst.wufoo.com/embed/contact-us/" title="HTML Form"><a href="http://katalyst.wufoo.com/embed/contact-us/" title="HTML form">Fill out my Wufoo form!</a></iframe>


                <hr />
            </div><!-- end main -->