           <div id="main">
  <img src="images/banners/contactus.jpg" width="522" height="142" alt="Contactus" class="banner" />
           
    <h1>Contact Us</h1>

    <h2>Head Office: Fullarton</h2>
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td class="right">Unit 3, 202, Glen Osmond Road<br />
        FULLARTON SA 5063</td>
      </tr>
      <tr>
        <td>Postal:</td>
        <td>PO Box 310 <br />
        FULLARTON SA 5063</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>8379 2500 or 1800 768 544</td>
      </tr>
      <tr>
        <td>Facsimile:</td>
        <td>(08) 8379 2599</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><a href="mailto:contactus@ppcons.com.au">contactus@ppcons.com.au</a></td>
      </tr>
      <tr>
        <td>Car Parking:</td>
        <td>Free</td>
      </tr>
      <tr>
        <td>Disability Access:</td>
        <td>Yes</td>
      </tr>


    </table>
    <h2>Northern Office: Mawson Lakes</h2>
    
    <h2></h2> 
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>Address:</td>
        <td>Suite 3, 32-36 Metro Parade<br />
          MAWSON LAKES SA 5095</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>(08) 8405 7200</td>
      </tr>
      <tr>
        <td>Facsimile:</td>
        <td>(08) 8405 7299</td>
      </tr>
      <tr>
        <td>Car Parking:</td>
        <td>Free</td>
      </tr>
      <tr>
        <td>Disability Access:</td>
        <td>Yes</td>
      </tr>
    </table>  


      <h2>Branch Office: Kadina</h2>
    <table border="0" cellspacing="0" cellpadding="0">  
      <tr>
        <td>Address:</td>
        <td>Unit 2, 10 Taylor Street<br />
        KADINA SA 5554</td>
      </tr>

      <tr>
        <td>Postal:</td>
        <td>PO Box 45<br />
        KADINA SA  5554</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>(08) 8821 2711</td>
      </tr>
      <tr>
        <td>Toll Free:</td>
        <td>1800 768 544</td>
      </tr>
      <tr>
        <td>Facsimile:</td>
        <td>(08) 8821 2887</td>
      </tr>
      <tr>
        <td>Car Parking:</td>
        <td>Free</td>
      </tr>
      <tr>
        <td>Disability Access:</td>
        <td>Yes</td>
      </tr>
    </table>   


                <hr />
            </div><!-- end main -->