            <div id="main">
    <img src="images/banners/referral2.jpg" width="522" height="142" alt="Referral2" class="banner" />
          <h1>Copyright</h1>

    <p>The information provided on this website is designed to provide general information only about Personnel Placement Consultancies Pty Ltd and the services we provide. </p>

    <p>All information and other content on this web site are protected by copyright.</p>

    <p>Please <a href="contact.html">contact us</a> if you have any questions regarding the copyright of information and content on this website.</p>
                <hr />
            </div><!-- end main -->