<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Disability Employment Services </h1>

    <p>PPC is a contracted provider to the Commonwealth Department of Employment for the Disability Employment Services program – DES. </p>
    <p>DES provides specialist help for people with disability, illness or injury to find and keep a job.  </p>
    <p>The DES <em>Disability Management Service</em> (DMS) supports people with temporary disability who only need short term support in the workplace.</p>
    <p>The DES <em>Employment Support Service</em> (ESS) is for people with a permanent disability who need longer term, regular, ongoing support to find and keep work.</p>
    <p>PPC provides services for both DMS and ESS job seekers, and for all types of disabilities.  We can assist whether your support needs are short or long term, straight forward or complex, including where support needs might change.  We can also help people already in employment, where their disability is putting their job at risk.  </p>
    <p>PPC supports job seekers to find lasting jobs that work for them, regardless of their disability.  </p>
    <p>People can be referred to PPC through a Centrelink Employment Services Assessment or Job Capacity Assessment.  People are also very welcome to register directly with PPC. </p>
    <p><em>For more information on how the DES program can help you as a job seeker or an employee, please {{#link-to 'page' 'job-seekers-employees'}}click here{{/link-to}}. </em></p>
    <p>PPC also assists employers through the DES program by:</p>

    <ul>
      <li>Providing a program for employers and their employees who are at risk of losing their employment due to the impact of a non-work-related illness, injury or disability.</li>
      <li>Assisting employers with recruitment, supporting volunteering and work experience placements, and offering a range of wage subsidies.</li>
      <li>Working together with employers who want to give someone with disability a go, but would like some specialist help and guidance.</li>
    </ul>
    
    <p><em>For more information on how the DES program can help you as an employer, please {{#link-to 'page' 'employers'}}click here.{{/link-to}}</em></p>

    <hr />
</div><!-- end main -->