           <div id="main">
    <img src="images/banners/referral2.jpg" width="522" height="142" alt="Referral2" class="banner" />
    <h2>Disclaimer</h2>

    <p>Although Personnel Placement Consultancies Pty Ltd makes every effort to keep the content on this website current we do not guarantee that it is correct or up to date. The company assumes no legal liability or responsibility for the accuracy, currency or completeness of the information.</p>

    <p>Any risks associated with the use of information on this website is assumed by the individual user.</p>

    <p>Please <a href="mailto:contactus@ppcons.com.au">contact us</a> if you have any questions regarding this disclaimer.</p>
               
    <hr />
            </div><!-- end main -->