<div id="main_index">
  <img src="images/banners/index.jpg" width="752" height="318" alt="Index" />
  <img src="images/generic/index_quote_0314.png" width="554" height="156" alt="Personnel Placement Consultancies Pty Ltd (PPC) We understand injury, illness and disability. We understand work. Maximising Human Potential in the Workplace." class="indexquote" />
  <img src="images/generic/qualityendorsedlogo.png" width="43" height="85" alt="Qualityendorsedlogo" class="qualityendorsedlogo" />
  <hr />
</div><!-- end main -->