<div id="main_index">
  <img src="images/banners/index.jpg" width="752" height="318" alt="Index" />
  <img src="images/generic/index_quote_0310.png" width="554" height="182" alt="Personnel Placement Consultancies is a leading provider of job placement, injury management and occupational rehabilitation services to employers, insurers and government agencies." class="indexquote" />
  <img src="images/generic/qualityendorsedlogo.png" width="43" height="85" alt="Qualityendorsedlogo" class="qualityendorsedlogo" />
  <hr />
</div><!-- end main -->