            <div id="main">
    <img src="images/banners/referral2.jpg" width="522" height="142" alt="Referral2" class="banner" />
            
    <h1>Links</h1>

    <p><strong>Australian Society Of Rehabilitation Counsellors</strong><br />
    <a href="http://www.asorc.org.au/" title="ASORC" target="_blank">http://www.asorc.org.au/</a></p>

    <p><strong>Department of Employment &amp; Workplace Relations</strong><br />
    <a href="http://www.dewr.gov.au/" title="dewr.gov.au - Home" target="_blank">http://www.dewr.gov.au/</a></p>

    <p><strong>Employers Mutual Limited</strong><br />
    <a href="http://www.emia.com.au/index.html" target="_blank">http://www.emia.com.au/index.html</a></p>

    <p><strong>Job Capacity Assessment</strong><br />
    <a href="http://www.jca.gov.au/" title="Job Capacity Assessment" target="_blank">http://www.jca.gov.au/</a></p>

    <p><strong>WorkCover Corporation Of South Australia</strong><br />
    <a href="http://www.workcover.com/" title="" target="_blank">http://www.workcover.com/</a></p>


    


                <hr />
            </div><!-- end main -->