<div id="main">
  <img src="images/banners/referral2.jpg" width="522" height="142" alt="Referral2" class="banner" />
          
  <h1>Useful Links</h1>

  <h2>Job Search Tools</h2>
  <p>
    <a href="http://www.myfuture.edu.au/" target="_blank">http://www.myfuture.edu.au/</a><br />
    <a href="http://jobsearch.gov.au/" target="_blank">http://jobsearch.gov.au/</a><br />
    <a href="http://www.seek.com.au/" target="_blank">http://www.seek.com.au/</a><br />
    <a href="http://www.careerone.com.au/" target="_blank">http://www.careerone.com.au/</a><br />
    <a href="http://www.vacancies.sa.gov.au/NOVPUblic/asp/public/Home.aspx" target="_blank">http://www.vacancies.sa.gov.au/NOVPUblic/asp/public/Home.aspx</a><br />
    <a href="https://www.apsjobs.gov.au/" target="_blank">https://www.apsjobs.gov.au/</a>
  </p>

  <h2>Volunteering</h2>
  <p>
    <a href="http://www.volunteeringsa.org.au" target="_blank">www.volunteeringsa.org.au</a>
  </p>

  <h2>Information and Assistance</h2>
  <p>
    <a href="http://www.jobaccess.gov.au" target="_blank">www.jobaccess.gov.au</a><br />
    <a href="http://www.crrs.net.au/" target="_blank">http://www.crrs.net.au/</a><br />
    <a href="www.dircsa.org.au" target="_blank">www.dircsa.org.au</a><br />
    <a href="http://www.wrcsa.org.au/" target="_blank">http://www.wrcsa.org.au/</a>
  </p>

  <h2>Australian Society of Rahbilitation Counsellors</h2>
  <p>
    <a href="http://www.asorc.org.au/" target="_blank">http://www.asorc.org.au/</a>
  </p>

  <h2>WorkCover Corporation of South Australia</h2>
  <p>
    <a href="http://www.workcover.com/" target="_blank">http://www.workcover.com/</a>
  </p>

  <hr />
</div><!-- end main -->