<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>National Panel of Assessors</h1>

    <p>As a member of the National Panel of Assessors, PPC has a team of approved Assessors conducting Supported Wage System and Ongoing Support Assessments on behalf of the Department of Employment.   In South Australia, PPC provides both assessment services across all of metropolitan Adelaide, the Adelaide Hills, Gawler, Kadina/Clare and in Port Pirie.  We also provide SWS and OSA assessments in the Employment Service Area of ACT/Queanbeyan.</p>

    <hr />
</div><!-- end main -->