<div id="main">
  <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
  
  <h1>Occupational Therapy</h1>

  <h2>Work Injury Services</h2>

  <p>PPC’s Occupational Therapist provides a suite of services to work-injured workers and their employers.  Services support workers’ independence and safety in the workplace, home and in the community.  Our OT works closely with Case Managers and Rehabilitation Consultants to provide an efficient, streamlined service.  OT services include:</p>

  <ul>
    <li>Activities of Daily Living Assessments</li>
    <li>Job Analysis Assessments</li>
    <li>Worksite Assessments</li>
    <li>Ergonomic Assessments</li>
    <li>Graduated Return to Work Programs</li>
    <li>Provision of equipment for the workplace and the home</li>
    <li>Functional Job Descriptions</li>
    <li>Manual Handling Training</li>
    <li>Ergonomic Assessments and Education</li>
    <li>Worksite safety assessments and recommendations</li>
  </ul>

  <p>If you would like more information about Occupational Therapy or Work Health & Safety Consultancy services, we welcome you to {{#link-to 'page' 'contact'}}contact us{{/link-to}} or call Head Office on (08) 8330 4500. </p>

  <div class="quote">
    <p><strong>Our clients say</strong></p>
    <blockquote>
      I would like to thank you for your assistance in assessing me for Activities of Daily Living. All items supplied have made life easier for me and, simply, my spirits have been much brighter – I now feel that I am contributing and in fact regaining some of my independence.
    </blockquote>
  </div>

  <hr />
</div><!-- end main -->