           <div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
      <h1>Our People</h1>

      <p>PPC attributes much of its success to the experience and professionalism of its employees. The company understands the need to recruit and retain people with the specialist skills and experience required to work in such a challenging environment.</p>

      <h2>Management</h2>

      <p>The PPC senior management team has many years of combined experience in job placement, injury management, vocational and occupational rehabilitation services.</p>

      <p><strong>Steve Harrington</strong><br />
      Managing Director, Bachelor of Social Work, UniSA<br />
      Email: <a href="mailto:steve.harrington@ppcons.com.au">Steve.Harrington@ppcons.com.au</a></p>

      <p>Steve established PPC in 1997 and has guided the company from a small team of consultants to becoming one of South Australia&rsquo;s largest private providers of disability employment and assessment services, and occupational rehabilitation services.</p>

      <p>Steve&rsquo;s previous experience includes working as a Regional Manager, Senior Advisor and Senior Rehabilitation Consultant for the Commonwealth Rehabilitation Service.</p>

      <p><strong>Patrick Murphy</strong><br />
        Principal Consultant (Workers Compensation Occupational Rehabilitation)<br>
        Bachelor of Social Work
      <br />
      Email: <a href="mailto:patrick.murphy@ppcons.com.au">Patrick.Murphy@ppcons.com.au</a></p>

      <p>Patrick emigrated from Ireland in the early 1990&#x27;s where he commenced his working life in Australia in factory work and warehousing while undertaking a Social Work degree. We believe a varied work history builds a sound knowledge of different occupations and job demands.  Patrick commenced with PPC in 2000 and was appointed as Principal Consultant in 2008.</p>
      <p>Patrick has over 9 years experience in delivering rehabilitation services. He has many years experience in working with long term, complex physical and psychological claims for a range of employers including State and Commonwealth employees as well as serving military personnel. Patrick also manages our key working relationships with other self insured employers including SAPOL, Electrolux, and Clipsal. He is also our key manager overseeing our service delivery for Veterans Affairs and Australian Defence Force Rehabilitation Program clients</p>
      
      
      <h2>Professional Employees</h2>

      <p class="listpara">PPC employs a team of skilled and qualified professionals.  Our consultants have a broad range of backgrounds that include:</p>
      <ul>
      <li>Vocational Rehabilitation Consultants</li>
      <li>Human Resources Professionals</li>
      <li>Occupational Therapists</li>
      <li>Physiotherapists</li>
      <li>Human Movement </li>
      <li>Psychologists and Counsellors</li>
      <li>Social Workers</li>
      <li>Nurses</li>
      </ul>



                <hr />
            </div><!-- end main -->