<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Our People</h1>

    <p>PPC commits to recruiting, training and retaining the best Consultants in the workplace rehabilitation and disability employment industries.  Our Consultants are serious about making a difference for our clients and customers, and have the specialist skills and commitment to achieve real outcomes.</p>
    <p>We invest in our people to build their expertise and keep them on board.  In a challenging work arena, where staff turnover is typically high, PPC is proud of the tenure of our staff, and our reputation as an employer of choice.  Our team is versatile, compassionate and committed.</p>

    <h2>What our clients say</h2>

    <blockquote>Quote: ‘<em>Actually the service I received was outstanding, professional... I don’t think there could be any better service given. My Consultant was extremely proactive with all my needs. I would recommend PPC to anyone seeking return to work and employment services.</em>’</blockquote>

</div><!-- end main -->