{{partial path}}

{{#if children}}
  <div id="local">
    <ul id="subnav">
      <li class="mainheader"><a href="/#/services">Services</a></li>
      {{sidebar-nav link='page' children=children}}
    </ul>
  </div><!-- end sub -->
{{/if}}