{{partial path}}

{{#if children}}
  <div id="local">
    <ul id="subnav">
      <li class="mainheader">
        <!-- TODO: Show top-level parent info -->
        {{#link-to 'page' 'services'}}Services{{/link-to}}
      </li>
      {{sidebar-nav link='page' children=children}}
    </ul>
  </div><!-- end sub -->
{{/if}}