{{partial path}}

{{#if root}}
  <div id="local">
    <ul id="subnav">
      {{#if root.children}}
        <li class="mainheader">
          {{#link-to 'page' root}}{{root.title}}{{/link-to}}
        </li>
        {{sidebar-nav link='page' children=root.children}}
      {{/if}}
    </ul>
  </div><!-- end sub -->
{{/if}}
