            <div id="main">
      <img src="images/banners/referral2.jpg" width="522" height="142" alt="Referral2" class="banner" />
             <h1>Privacy</h1>

<p>Personnel Placement Consultancies Pty Ltd is committed to ensuring an individual's right to privacy is protected as required by the Commonwealth Privacy Act 1988 as amended.</p>
<p>Any other disclosure of personal information will only take place where written consent has been obtained or as required by law.</p>
<p>Personnel Placement Consultancies Pty Ltd will only record your e-mail address in the event that you send us a message by e-mail or if you make an online referral. Use of your email address will only be used for the purpose for which you have provided it and will not be used or disclosed for any other purpose, without your prior written consent.</p>
<p>Please {{#link-to 'page' 'contact'}}contact us{{/link-to}} if you have any questions regarding our handling of personal information.</p>


      
                <hr />
            </div><!-- end main -->