            <div id="main">
              <img src="images/banners/quality.jpg" width="522" height="142" alt="Quality" class="banner" />
              <h1>Quality</h1>
              <p>
                The PPC Quality Management System has been accredited against the requirements of the International ISO 9001:2008 Standard. This Standard requires
                participating organizations to demonstrate their commitment to customer and regulatory requirements, enhanced customer satisfaction, continuous
                improvement and conformity.
              </p>
              <p>
                PPC is also accredited under the Disability Service Standards.
              </p>
              <p>
                These systems provide the structure for PPC to reinforce its commitment to delivering a high standard of products and services to clients.
                Examples of how these systems contribute to high performance include the following:
              </p>
              <ul>
                <li>Providing a structured process for file reviews and feedback to employees</li>
                <li>Tailoring services and tracking the outcome requirements of clients to ensure that customer and industry standards are being achieved</li>
                <li>Providing new and inexperienced employees with support to ensure they are able to produce work of a high standard</li>
              </ul>

    </div><!-- end main -->