            <div id="main">
    <img src="images/banners/services.jpg" width="522" height="142" alt="Services" class="banner" />
             <h1>Services</h1>

      <p>Personnel Placement Consultancies provides a range of injury, disability and vocational services to a variety of private and public organizations.</p>

      <p class="listpara">For more information about these services click on the following links:</p>
      <!-- Ewan notes: will need to link this into the sections of the site -->
      <ul>
        <li>{{#link-to 'page' 'workers-compensation'}}Workers Compensation and Return to Work Services.{{/link-to}}</li>
        <li>{{#link-to 'page' 'disability-employment-services'}}Disability Employment Services{{/link-to}}</li>
        <li>{{#link-to 'page' 'supported-wage-system'}}Supported Wage and On-going Support Assessments{{/link-to}}</li>
      </ul>
      <p>Other services can be tailored to meet the specific needs of clients. For further information please click on the link above or contact our Senior Consultants.</p>

      <p>For Workers Compensation and Return to Work Services and Disability Employment Services, call Patrick Murphy on (08) 8330 4500.</p>



                <hr />
            </div><!-- end main -->