<div id="main">
  <img src="images/banners/ourpeople.jpg" width="522" height="142" alt="Ourpeople" class="banner" />
            
    <h1>Workplace Rehabilitation & Injury Management</h1>

    <p>PPC has been providing workplace rehabilitation services on behalf of workers compensation authorities and their agents, self-insured employers and Government organisations since 1997.  Our aim is an early, durable and safe return to work for injured workers, for the benefit of all stakeholders.  PPC offers a full suite of services, with a particular capability in supporting injured workers into new employment.</p>

    <hr />
</div><!-- end main -->